[2014-07-01 18:21] Danack opened #1 "DNS timeout causes array out of bounds error."
It looks like when a DNS lookup times out, the code doesn't handle it gracefully. i.e. when

[code]

is called, it causes an out of bounds error in AddrDnsResolver.php on line 49:

Error message: "Undefined offset: 3" aka ERR_SERVER_TIMEOUT

Stack trace:

[code]

[2014-07-10 15:28] #1 closed, assigned to nobody

[2014-07-15 12:51] Danack opened #3 "fwrite can fail"
The fwrite [here](https://github.com/DaveRandom/Addr/blob/master/lib/Addr/Client.php#L182) can fail, generating a notice but continues to run in a presumably bogus state.

So I guess the code so check the return value.....and possibly suppress the warning? (_shakes fist at PHP's 'error' model_)

Exception:

[code]

[2014-07-17 15:45] DaveRandom opened #4 "Implement server pool"
Implement the ability to fail over to other servers and/or query multiple servers at once.

[2014-07-17 15:46] DaveRandom opened #5 "Make caching API async-capable"
Currently the caching interface dictates that lookups must be blocking

[2014-07-17 16:22] rdlowrey opened #6 "Optional setting is optional"
My life would be eased if it were possible to set the following options on `Addr\Client` after instantiation and not require them in the constructor:
- `$socketAddr`
- `$socketPort`
- `$requestTimeout`

Instances can function perfectly well with default values. More importantly, though, the `Client` class is generally going to be a dependency of other classes and so must be injected. By allowing a

[2014-07-17 20:09] #6 closed, assigned to nobody

[2014-07-17 23:20] #3 closed, assigned to nobody

[2014-07-18 00:07] #5 closed, assigned to nobody

[2014-11-19 09:46] thomaswilde opened #16 "DNS resolution failed -- possibly cache bug"
We get an `Amp\Dns\ResolutionException` with the message

    "DNS resolution failed: www.google.com"

These are the last couple of lines from our stack-trace:

    #0 ...\vendor\amphp\dns\lib\Client.php(298): Amp\Dns\Client->completePendingLookup(0, NULL, 3)
    #1 ...\vendor\amphp\dns\lib\Client.php(220): Amp\Dns\Client->completeRequest(Array, NULL, 3)
    #2 ...\vendor\amphp\amp\lib\NativeReact

[2015-03-04 02:08] Danack opened #21 "zend_mm_heap corrupted on centos guest"
Repo script is below. It's basically example 2 with an extra host name inserted.

The environment is Centos 6.4 with self-built version of PHP 5.6.2. It is sitting inside a vagrant box hosted on Mac OSX .

The hostname is being resolved by a hosts file on the host, not the guest. I'm going to attempt to capture the packets being sent between guest/host.

The output is
[code]

[code]

[2015-03-04 13:13] Danack commented on #21
Ok, so the fact that the lookup failing is pretty obvious now that it's morning. Amphp/dns doesn't read the /etc/resolve file which in the guest looks like:

As the entry is in the hosts file on the host, and DNS uses 8.8.8.8 as the dns lookup, it obviously fails.

I'm going to keep trying to track the segfault/mem corruption, as it seems to be a real thing.

[2015-08-02 08:50] kelunik commented on #16
A non-blocking `amphp/cache` is now a thing. Using the php-fig interface doesn't make any sense for us, because have to use other method signatures anyway (everything returns a promise).

The only shared driver currently implemented is Redis.

[2015-09-18 10:03] kelunik commented on #21
Support for `/etc/resolv.conf` is now merged.

[2015-11-16 12:27] kelunik opened #23 "Update promise on CNAME following"
Just like Artax uses promise updates when following redirects, `amphp/dns` should update the promises when following `CNAME` records and similar things.

[2015-12-07 20:25] tck opened #24 "Default nameservers without port"
If google's public DNS servers on Windows is used following error occurs:

    Fatal error: Uncaught exception 'Amp\Dns\ResolutionException' with message 'Connection to udp://8.8.8.8 failed: [Error #0] Failed to parse address "8.8.8.8"'

The default nameservers setting:

    "nameservers" => [
        "8.8.8.8",
        "8.8.4.4",
    ],

A correction could be setting port value:

    "nameservers

[2015-12-08 09:41] #24 closed

[2015-12-08 09:43] kelunik commented on #24
Thanks. Could you test with the latest `dev-master`? It should work, I just want to be sure before tagging a new release.

[2015-12-08 09:43] staabm commented on #24
Sounds like this is a php-src inconsistency of win vs. *nix ?

[2015-12-08 09:44] kelunik commented on #24
@staabm: What should be a `php-src` inconsistency here?

[2015-12-08 11:05] staabm commented on #24
The initial report reads like the code (before your referenced commit) worked before on non-windows and doesnt on *nix

[2015-12-08 11:10] kelunik commented on #24
Yes, because we read the `resolv.conf` on Linux, but that doesn't exist on Windows. It's really complicated on Windows to read those settings.

[2015-12-08 21:35] tck commented on #24
Testet with the last dev-master. It works on my windows system. Thank you for the fast reaction.

[2015-12-09 09:34] kelunik commented on #24
Thanks for the verification, [`0.8.4`](https://github.com/amphp/dns/releases/tag/v0.8.4) has been tagged.

[2016-02-23 12:37] kelunik opened #25 "NoRecordException is never thrown"
`NoRecordException` is never thrown, because of the `Amp\some` combinator function, see [`functions.php:265`](https://github.com/amphp/dns/blob/35b147d6f03df395d85092e3b182b2e3f3ba6dd8/lib/functions.php#L265)

[2016-02-23 12:41] kelunik opened #26 "Invalid promise resolution for cached failures"
We currently cache in case of no results for a maximum of 5 minutes. The first invocation results in a `ResolutionException` (should actually be `NoRecordException`, see #25). All later invocations result in an successfully resolved promise yielding an empty array. Instead there should be the same outcome as for non-cached DNS requests (the same exception).

[2016-02-25 09:47] kelunik opened #27 "TXT records are checked to be valid hostnames"
See https://github.com/kelunik/acme/pull/11. I don't know whether we should introduce a flag like `validate_hostname` which can be set to `false` or any other mechanism.

/cc @kfeutz @bwoebi @DaveRandom

[2016-02-25 11:41] #27 closed

[2016-03-13 18:38] #21 closed

[2016-03-13 18:41] kelunik commented on #16
We have a TCP retry now if it fails with UDP. Closing for now.

[2016-03-13 18:41] #16 closed

[2016-03-15 08:50] #26 closed

[2016-03-15 08:51] #25 closed

[2016-03-19 20:46] kelunik opened #28 "Reset state / Accessor"
It must be possible to reset the state. If you want to start your unit tests with a clean reactor, DNS won't work in when used in multiple tests, because the server is still loaded but doesn't receive any watcher events anymore, because the old reactor where the watchers where registered, doesn't exist anymore.

Additionally, it's currently not possible to mock DNS.

[2016-03-20 10:40] #28 closed

[2016-05-25 19:42] chrisleavoy opened #32 "Timeout not working"
I've discovered the timeout mechanism isn't working. In some tests, the reactor will run forever, but most of the time the test will take about ~1 minute.  The timeout value seems to be ignored.  I've stepped through with xdebug, but it gets lost and i can't seem to identify the issue. Example:

[code]

I've tried with and without ev extension. I've tried with regular IP, udp scheme, smaller/large

[2016-05-25 19:59] kelunik commented on #32
You have to reset the DNS resolver in every test where you reset the reactor.

[code]

Unless we can store reactor bound state, that's the only way to go.

[2016-05-25 20:18] chrisleavoy commented on #32
I'm not sure what that means... I tried ```\Amp\Dns\resolver(\Amp\Dns\driver());``` prior to calling resolve() and it still doesn't honor the timeout. I don't think this is a test artifact because it happens without phpunit as well.

[2016-05-25 20:48] chrisleavoy commented on #32
I discovered:
```['server' => 'udp://8.8.8.8:53', 'timeout' => 5]``` fails correctly within 6 ms
```['server' => 'udp://8.8.8.0:53', 'timeout' => 5]``` takes 1 minute to fail, if at all.

[2016-05-25 21:28] chrisleavoy commented on #32
I managed to get the dubber working better and I narrowed it down. The issue is that DefaultResolver.php calls stream_socket_client() without a connection timeout, causing a block for 1 minute. I'll look into it further tomorrow and perhaps submit a PR.

[2016-05-25 21:35] bwoebi commented on #32
Ah, right. It's falling back to TCP mode because the response is truncated. and when tcp mode does not work, yeah…
It should do an async connect here.

If you want to submit a PR, you're more than welcome, else I'll have a look at it tomorrow.

[2016-05-26 01:03] pensiero commented on #16
Same problem here, someone could explain me how can I cache the DNS resolution? I'm using Redis, and I saw that there is `amphp/redis`, but I don't understand how to use it with DNS.

Thanks

[2016-05-26 07:57] kelunik commented on #16
DNS records are currently automatically cached in an `ArrayCache` according to their TTL. There's currently no way to specify another cache method.

[2016-05-26 15:13] chrisleavoy commented on #32
I see.. It was 72764745f2c283bc647dfeea24e19e61a2bda7af (0.8.2) that introduced the tcp fallback that is blocking.  A few options I can see:
 * Introduce a config variable to disable tcp fallback (probably a good idea anyway)
 * Introduce a config variable that sets a CONNECT_TIMEOUT on stream_socket_client (needed for next option anyway)
 * Use amphp/socket instead of stream_socket_client (ideal)

[2016-05-26 19:49] #32 closed

[2016-06-07 23:54] chrisleavoy opened #34 "isValidHostname throws exception on valid hostnames"
https://github.com/amphp/dns/blame/master/lib/DefaultResolver.php#L87

2.0.0.127.b.barracudacentral.org is a prefectly valid hostname that doesn't match the regex.

Suggest instead:

[code]

It appears the top answer on stackoverflow is wrong: http://stackoverflow.com/questions/106179/regular-expression-to-match-dns-hostname-or-ip-address

[2016-06-08 00:23] bwoebi commented on #34
Note that we have two functions, query() and resolve(). The latter one is explicitly for _hostname/IP_ (as defined per RFC 1123 2.1) resolving (will check /etc/hosts too and recurses (CNAME) by default), the former for arbitrary name resolving.

Just use query() if you want to resolve that one.

[2016-06-08 00:27] bwoebi commented on #34
I shall maybe change the error message to explicitly reference RFC 1123 2.1 and give a hint at the query() function though...

[2016-06-08 06:50] kelunik commented on #34
@bwoebi: That one is a valid hostname. It's not a documentation issue, it's a RegEx issue.

[2016-06-08 10:00] bwoebi commented on #34
Oh, you are right. Will fix that then.

[2016-06-12 11:38] kelunik commented on #34
@bwoebi You wanted to work on it, is that still the case?

[2016-07-07 14:07] #34 closed

[2016-07-07 14:07] bwoebi commented on #34
Sorry for the delay… Forgotten about it and only rediscovered it today.

[2016-08-05 14:34] kelunik opened #36 "API Refactoring"
With `v0.8.8` we introduced classes as resolvers: https://github.com/amphp/dns/compare/v0.8.7...v0.8.8

We should modify the API to drop the nameserver options from `Amp\Dns\query` and `Amp\Dns\resolve`. If anyone needs a different resolver, they should just go ahead and create a new resolver object with the nameserver as argument and execute their query then.

[2016-08-06 18:22] bwoebi commented on #36
I fundamentally disagree with this.

There ought to be one global configuration for _all_ programs, in /etc/resolv.conf for Linux - or the Windows equivalent (TODO: add support for it!).

If you need special nameservers, this is not to be done on a program-level, but either on a host-wide level, or, for specific cases, in the individual query or resolve calls.

The sole point of the classes is ove

[2016-08-06 21:54] kelunik commented on #36
That one will still be the same.

Sure, that's why I said:

They should use `$resolver->query`, not `Amp\Dns\query` which executes with the global resolver.

Why should it? It's not really about state, but rather about configuration.

Suppose we have a DNS resolver that works by querying an HTTP API instead of using the DNS protocol. That resolver wouldn't be able to use other nameservers.

That w

[2016-08-07 10:33] bwoebi commented on #36
This custom DNS resolver would be a standalone entity and not related to our DNS resolver, nor should it implement our interface.

They can trivially wrap it in a class { public $nameserver; function query($q, $t) { \Amp\query($q, $t, ["options" => $this->nameserver]); } ... } and similar. That's not the task of this global DNS abstraction.

[2016-08-07 11:05] kelunik commented on #36
Why do we even have these classes then? I see no reason to have the nameserver as an option to `query`.

[2016-08-07 14:15] bwoebi commented on #36
The only reasons is being able to change internal details (e.g. shared memory DNS caching etc.) or mocking (in tests).

No other reason.

[2016-08-07 14:16] kelunik commented on #36
Ok, I'll ask differently: What's the reason to keep `nameserver` as an option to `Amp\Dns\query`? Why shouldn't you just create a new resolver instance with the nameserver passed as argument?

[2016-08-07 14:31] bwoebi commented on #36
a) the other options are also still options. No point in making one option instance specific and the others not??
b) Creating a new instance for every different option is probably only slow and clumsy and you end up with a bunch of objects flying around (given you don't want to re-establish yourself the connection to the server each time etc.)
c) keeping options localized to the individual calls k

[2016-09-02 13:47] #36 closed

[2016-12-14 19:56] kelunik opened #37 "Setting for default timeout"
Currently we allow default timeouts on Linux via `/etc/resolv.conf`. On Windows there's no such thing we support. It would be cool to have a global setting for the timeout I think that can be set on Windows.

Relates to https://github.com/kelunik/acme-client/issues/44.

[2016-12-23 18:20] kelunik opened #38 "Support for Windows System DNS"
We currently use `8.8.8.8` by default on Windows.

We can find the nameservers Windows uses in `HKEY_LOCAL_MACHINE/SYSTEM/CurrentControlSet/Services/Tcpip/Parameters/Nameserver` or `HKEY_LOCAL_MACHINE/SYSTEM/CurrentControlSet/Services/Tcpip/Parameters/DhcpNameServer`.

See also https://technet.microsoft.com/en-us/library/cc962470.aspx

[2016-12-23 18:36] bwoebi commented on #38
How can we access these? Only via COM class (not an always available extension) - or are there other means too?

[2017-01-02 18:47] kelunik opened #39 "Possible infinite loop"
From reading the source at https://github.com/amphp/dns/blob/55de45b00bc1d913a12d5e1574f1f36be4c901de/lib/DefaultResolver.php#L170-L176 it seems like this _might_ run into an infinite loop, once `MAX_REQUEST_ID` requests have been lost due to UDP being used?

[2017-01-02 19:12] bwoebi commented on #39
Looks like we are not unset()ting the pendingRequest entry upon timeout failure or when falling back to TCP.

[2017-01-02 19:37] kelunik commented on #39
But doesn't it also run into an infinite loop if there are `MAX_REQUEST_ID` concurrent requests?

[2017-01-04 13:18] kelunik opened #41 "Watch resolv.conf for changes"
I think we should watch `/etc/resolv.conf` for changes or alternatively cache the config only for a certain amount of time.

[2017-01-04 14:01] kelunik opened #42 "Google Fallback"
Currently we fallback to Google's public DNS servers if we don't have a config. This affected probably only Windows, as we don't have `/etc/resolv.conf` there. On other systems, that could only happen if there is an error reading `/etc/resolv.conf`.

I don't like sending all DNS queries silently as a fallback to Google. If the system config can't be read, it's either a weird system not yet support

[2017-01-04 14:40] bwoebi commented on #41
I'd opt for watching, but doing that AFAIK requires access to a syscall (i.e. fanotify/inotify etc.), which requires an extra ext.

We could do that _optionally_, but by default we should just cache it for a (globally) fixed time.

[2017-01-04 14:44] kelunik commented on #41
Right. Additionally we can't do that on Windows.

[2017-01-04 14:57] bwoebi commented on #41
On Windows System.IO.FileSystemWatcher is a thing, it just needs to be available in an ext…

[2017-01-04 15:11] Danack commented on #42
If someone explicitly sets the config, then it shouldn't do the fallback; it should behave exactly as they set the config.

If someone doesn't explicitly set the config, then people just want it to work and so the code should do the best attempt to work.

I trust with my DNS lookups (aka think they are less likely to care about them) than I do my ISP, that is far more likely to be in cahoots with

[2017-01-04 15:25] kelunik commented on #41
@bwoebi We need to watch the registry, not the file system.

[2017-01-04 15:33] staabm commented on #41
auto-reload on changes should be a opt-in feature. people are used to re-start applications/shells etc. on such fundamental changes.

[2017-01-04 15:33] kelunik commented on #41
@staabm They're not. `/etc/resolv.conf` usually takes immediately effect.

[2017-01-04 15:43] bwoebi commented on #41
@kelunik In that case you need RegistryKeyChangeEvent (you can access these WMI events via COM).

[2017-01-04 15:48] kelunik commented on #41
@bwoebi in case it's available. But we can have these watchers as progressive enhancement at any time.

[2017-01-04 16:06] kelunik commented on #42
We could also factor it out to a `WindowsConfigReader`, `BindConfigReader` and fallback to a `EnvConfigReader` that reads from a environment variable. This ensures you can always set the DNS nameserver in any application in case your system is weird.

We could also prioritize the environment variable / use it as fallback without the above.

[2017-01-04 16:10] bwoebi commented on #42
There's no point in factoring that out...

Also env variables, if we support them, should take priority in any case.

[2017-01-04 16:11] kelunik commented on #42
Accept if you want to fetch the information from another source, but that's not required I guess.

[2017-01-04 16:23] kelunik commented on #42
The man page mentions environment variables for options and local domain, but not for nameservers. http://man7.org/linux/man-pages/man5/resolv.conf.5.html

[2017-01-04 19:07] #38 closed

[2017-01-05 09:26] kelunik commented on #23
I don't think this makes sense, as it's usually the local resolver or the DNS server directly doing the CNAME resolution.

[2017-01-05 09:26] #23 closed

[2017-01-13 08:21] kelunik commented on #37
Related: http://serverfault.com/a/431219/217277

[2017-01-27 07:37] kelunik opened #44 "Wrong DNS server parsing"
https://github.com/amphp/dns/blob/master/lib/DefaultResolver.php#L447 looks for a colon to find a port. This won't work with IPv6. I guess looking for `]:` will be enough to fix it.

[2017-01-28 13:39] kelunik opened #45 "Improve failure tolerance"
Currently we always use the first nameserver only. If that one fails, it should retry with the next server.

[2017-01-28 13:40] kelunik opened #46 "Support for RES_OPTIONS"
We should add support for the `RES_OPTIONS` environment variable. The way it works is described in the `resolv.conf` man page.

[2017-01-28 13:40] kelunik opened #47 "Support for LOCALDOMAIN and search"
I think we currently do not support `search` nor `LOCALDOMAIN` (env variable for per-process override).

[2017-02-05 06:18] Daniel15 opened #49 ""Could not find a nameserver in the Windows Registry" out-of-the-box on Windows"
I'm hitting this exception when trying to use this library:
[code]

Looking at https://github.com/amphp/dns/blob/8659b56263e5d74131782b9cb872a1ff64d6af4c/lib/DefaultResolver.php#L353-L372, it looks like the code looks for these keys:
- `HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters\NameServer`
- `HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters\DhcpName

[2017-02-05 07:23] Daniel15 opened #50 "Nicer handling of PTR queries"
amphp DNS doesn't handle calls like this:
[code]

Currently, you need to manually convert the IP address to the right PTR query:
[code]

The legacy Net_DNS library has some code to handle PTR queries correctly, when the input looks like an IP address:
[code]
https://github.com/pear/Net_DNS/blob/5786b8c6f21c3cc8915fe251dac1571fa524a417/Net/DNS/Resolver.php#L552-L559

It would be nice for amphp to d

[2017-02-05 08:49] #49 closed

[2017-02-05 08:51] kelunik commented on #49
Thanks for the report, I added support for that.

[2017-02-05 09:02] kelunik opened #51 "Missing check whether IP version is right on resolve"
Calling resolve with an IP address currently simply resolves to chat address. But it doesn't check whether it's allowed by the current `"types"` in `$options`:

`var_dump(yield Amp\Dns\resolve('8.8.8.8', ['types' => Amp\Dns\Record::AAAA]));` works just fine, but should result in an exception, because no records found. Or for the `A` → `AAAA` case, we can rewrite it to an IPv6 address.

[2017-02-05 09:15] kelunik commented on #50
You should use `Amp\Dns\query` for everything that doesn't resolve to an IP address. So in this case `yield Amp\Dns\query('8.8.8.8.in-addr.arpa', Amp\Dns\Record::PTR);` But you're right, we could add auto-rewrite here.

@bwoebi Didn't we have a protection that restricts `resolve` to `A` and `AAAA` queries?

[2017-02-05 09:18] Daniel15 commented on #50
`Amp\Dns\resolve` actually seems to work properly, `Amp\Dns\resolve('29.56.141.209.in-addr.arpa', ['types' => Amp\Dns\Record::PTR])` gives me the right result.

[2017-02-05 09:21] kelunik commented on #50
Yes, I know that it works, but it's not supposed to work. I think we had a restriction in there before.

[2017-02-05 12:45] kelunik commented on #50
Do you have any suggestion for a better function name? I'm not sure what to do with an invalid IP, probably throw an exception, but not sure which one. `InvalidAddressException` might make sense, but it should probably not extend the `ResolutionException` in this case.

[code]

[2017-02-05 13:42] kelunik commented on #50
I created a PR now. It doesn't use a separate function, see #52.

[2017-02-05 22:17] #50 closed

[2017-02-06 00:01] Daniel15 opened #53 "Good queries failing with "Response decode error" when running multiple requests in parallel via Amp\any - Fine when running in series"
Consider this simple test script:
[code]

It sends 5 PTR lookups concurrently for a range of IP addresses. I'm seeing this fail sporadically, with different requests failing every time I run it. All failures are listed as  "Decode error: Empty domain name at position 0x38"

Example output:
[code]

[2017-02-06 00:14] Daniel15 commented on #53
Okay so what I think is happening here is that it's mixing the responses, and valid queries are somehow getting the error responses. Some of the responses **are** actually erroneous. If you run the requests in series by replacing the `for` loop with:
[code]
and removing the `list($failed, $succeeded) = (yield Amp\any($lookups));` line, you'll see that one request constantly fails. If you change `I

[2017-02-06 07:11] kelunik commented on #50
It's now included in https://github.com/amphp/dns/releases/tag/v0.8.14.

[2017-02-06 07:11] kelunik commented on #49
It's included in https://github.com/amphp/dns/releases/tag/v0.8.14.

[2017-06-11 17:25] kelunik commented on #42
Related: https://twitter.com/fudoreaper/status/873926204046405632

[2017-06-23 15:24] kelunik commented on #51
This will be resolved in the Amp v2 version.

[2017-06-23 15:24] #51 closed

[2017-06-23 15:24] kelunik commented on #44
Fixed in the Amp v2 version.

[2017-06-23 15:24] #44 closed

[2017-06-23 15:24] kelunik commented on #39
Fixed in the Amp v2 version.

[2017-06-23 15:24] #39 closed

[2017-06-23 15:25] kelunik commented on #45
Fixed in the Amp v2 version.

[2017-06-23 15:25] #45 closed

[2017-06-23 15:25] kelunik commented on #4
Don't think we need further things than #45.

[2017-06-23 15:25] #4 closed

[2017-06-23 15:26] kelunik commented on #37
This can now be implemented by passing a custom `ConfigLoader` in the Amp v2 version.

[2017-06-23 15:26] #37 closed

[2017-06-23 15:26] kelunik commented on #42
The Google fallback has been removed in the Amp v2 version.

[2017-06-23 15:26] #42 closed

[2017-06-23 17:33] kelunik commented on #53
This is still an issue in the Amp v2 version:

[code]

[2017-06-23 18:50] kelunik commented on #53
This is nothing caused by our library, it's the server responding with an empty domain name.

[2017-06-23 19:48] bwoebi commented on #53
I see no problems in the server response.
The failure is here or within libdns - I'm looking.

[2017-06-23 19:54] kelunik commented on #53
@bwoebi It's in LibDNS.

[2017-06-30 21:05] kelunik opened #58 "Tests fail with OPCache enabled"
Quite a few tests fail with OPCache enabled, because `Socket::ask` yields an empty array instead of an instance of `Message`.

[2017-07-01 09:02] kelunik commented on #58
"Solved" by https://github.com/amphp/dns/commit/e0fc018ad7473cd24b188323393476c5a19a6d35.

[2017-07-01 09:02] #58 closed

[2017-07-01 09:03] kelunik commented on #53
@bwoebi Seems like empty entries are indeed disallowed.

[2017-07-02 15:57] PeeHaa commented on #58
Is this (`return yield`) an issue in general with opcache or just this specific piece of code?

[2017-07-02 16:07] kelunik commented on #58
It's a general issue with opcache + `return` in `try` + `finally`.

[2017-07-02 17:04] bwoebi commented on #58
But just within Generators.

[2017-07-02 18:51] PeeHaa commented on #58
kk tnx both ❤️

[2017-07-06 19:23] kelunik commented on #41
This can be done manually now, but I guess we should still add it by default. What's a good interval for that?

https://github.com/amphp/dns/commit/cbe273c3d20c12bc07c5d734381f02ae3648e23d

[2017-07-12 15:48] kelunik opened #59 "Tests on 0.8.x hang with UV enabled"
Everything works fine without `uv`.

[2017-08-09 16:52] far-blue opened #62 "BasicResolver configLoader parameter"
Hello :)

There's an issue with the setting of the configLoader in the BasicResolver constructor where incorrect precedence means the constructor always assigns a WindowsConfigLoader if you try to supply your own.

PR #61 fixes this

[2017-08-09 16:54] kelunik commented on #62
Already merged. :+1:

[2017-08-09 16:54] #62 closed

[2017-08-09 21:24] far-blue commented on #62
would it be possible to roll a release containing this merge? If a release will be some time distant I'd need to pin our composer config to a master commit which I really prefer not to do :)

[2017-08-09 21:51] kelunik commented on #62
Sure.

[2017-08-16 10:31] shouze opened #63 "Make amphp/windows-registry a suggested dependency"
As it's platform related and make vendor dir heavier for nothing when not running code on Windows.

[2017-08-16 11:34] kelunik commented on #63
That would make any app and library incompatible with Windows by default, so I'm against that.

[2017-08-16 11:36] shouze commented on #63
not incompatible by default as it's suggested & have to be documented but I understand your argument of course.

[2017-08-16 11:37] shouze commented on #63
The point is composer don't permit to express dependencies that vary depending on OS or php version, which would be great & make a more decent solution of course.

[2017-08-16 11:40] kelunik commented on #63
Right, this is an issue Composer needs to solve first. `suggest` is completely broken as it doesn't allow any constraints. Yes, you can achieve that with `conflicts`, but it's really sub-optimal.

I very much prefer a little bit of space in favor of compatible by default.

[2017-08-16 11:40] #63 closed

[2017-08-30 07:23] vanoostrum opened #64 "amphp/dns/lib/DefaultResolver.php(632): Undefined offset: x"
There seems to be a bug in amphp/dns v0.8.15. I'm getting Undefined offset errors in `DefaultResolver`

/amphp/dns/lib/DefaultResolver.php line 632, method `processDecodedResponse`:

[code]

`$this->pendingRequests` doesn't contain a value at index `$requestId`

Stacktrace:

[code]

The call is coming from `DefaultResolver->query()`, which is called in our case from the library kelunik/acme `Dns01

[2017-09-03 17:25] kelunik commented on #53
Don't remember in which RFC I read that they're disallowed, can't find it again.

@DaveRandom ping.

[2017-09-12 12:35] kelunik opened #65 "Limit cache size by default"
See https://github.com/amphp/cache/issues/4.

[2017-10-04 19:26] kelunik commented on #65
The linked issue has been implemented, what's a good default cache size?

[2017-10-07 17:01] kelunik opened #66 "Event loop stops without resolving promise"
In certain edge cases the loop stops without resolving the promise returned from `BasicResolver::resolve()`. Reproducible with the script from https://github.com/amphp/artax/issues/138 with a fix for the TLS hanging.

[2017-10-08 10:04] kelunik commented on #66
Script used for reproduction:

[code]

Usually takes quite some requests to get triggered. It's driver independent.

[2017-10-08 10:29] kelunik commented on #66
Ok, I know why. People using multiple event loops deserve what they get from PHP's `__destruct`. Will post a PR to `amphp/amp` soon.

[2017-10-08 11:49] kelunik commented on #66
Closing as amphp/amp#171 got merged.

[2017-10-08 11:49] #66 closed

[2017-11-07 14:43] brstgt opened #68 "Cyclic reference with loop, resolver will never be destructed"
As long as the gcWatcher is not cancelled, the BasicResolver will never be destroyed as the watcher contains a reference to the resolver which is retained by the loop. The loop driver will also never be destroyed as long it has watchers. Watcher callbacks have references to the loop and the loop has references to the watchers (or events). But this is something different.

[2017-11-07 15:17] kelunik commented on #68
This is a valid concern, as a DNS resolver might be used standalone without relying on the global instance.

[2017-11-07 15:18] brstgt commented on #68
Also it is not possible to correctly clean loop/resolver instances e.g. when it is replaced with another instance which happens massively in tests.

[2017-11-07 15:18] #68 closed

[2017-11-07 15:19] brstgt commented on #68
Tested and works for manual cleanup:

[code]

[2017-11-07 15:21] kelunik commented on #68
@brstgt Cyclic references shouldn't matter in tests and should be cleaned up correctly during the loop switch.

[2017-11-07 15:21] kelunik commented on #65
@amphp/dns Any suggestions?

[2017-11-07 15:24] bwoebi commented on #65
Don't really know.
I think a LRU cache with size=256 should be really sufficient for most needs. That's not too large, but really not less than 99% of use cases will need.

[2017-11-07 15:30] Danack commented on #65
If it's a LRU cache, it should be way bigger than 256. Memory is pretty cheap and the entries are pretty small, right?

Is there any problem with having a 64kB entry cache?

[2017-11-07 15:35] bwoebi commented on #65
I meant 256 entries ;-), which, in PHP, will be around 80 KB, I guess.

[2017-11-28 08:26] kelunik commented on #59
Please upgrade to 0.9.x.

[2017-11-28 08:26] #59 closed

[2017-11-28 08:26] kelunik commented on #64
Please upgrade to 0.9.x.

[2017-11-28 08:26] #64 closed

[2017-11-28 08:29] kelunik commented on #68
I've just released v0.9.10 with the fix.

[2017-11-28 08:32] kelunik commented on #64
This should actually be fixed now, but the root cause isn't fixed and there's probably one.

[2017-11-28 08:46] vanoostrum commented on #64
Thanks, I will test it with the new version

[2017-11-28 08:55] vanoostrum commented on #64
@kelunik I'm having some dependency issues with some of your other libraries, basically kelunik/acme 0.4.x -> amphp/artax ^2 -> amphp/socket ^0.9 -> amphp/dns ^0.8. Could that be resolved so I can use amphp/dns 0.9 in combination with kelunik/acme 0.4.x?

[2017-11-28 09:00] kelunik commented on #64
`kelunik/acme` needs a rewrite based on Amp v2 for that. I started doing that locally, but currently don't have the time to finish it. I could probably just port it to Amp v2 and tag that as 0.5.0 instead of doing a rewrite at the same time.

[2017-11-28 09:06] vanoostrum commented on #64
Ok, We are currently using react/dns as an alternative, whenever we can we will switch back to amphp/dns

[2017-11-28 09:38] kelunik commented on #64
Which a custom event loop adapter or how do you do that?

[2017-11-28 09:45] vanoostrum commented on #64
Something like that yes, while keeping the exact method signature of amphp/dns verifyChallenge

[code]

[2017-11-28 14:32] kelunik commented on #64
@vanoostrum I was able to allocate some time today. I have a working implementation based on Amp v2 in https://github.com/kelunik/acme/tree/amp2. Please test it, if everything works, I can tag a version based on it. The tests pass at least.

[2017-11-29 10:39] vanoostrum commented on #64
That's great, I will have to do some refactoring, will let you know if it works

[2017-11-29 11:04] vanoostrum commented on #64
@kelunik I see that the AcmeClient now only wants a PrivateKey as constructor arg, not a private/public KeyPair. How does this work exactly? Did you document this change somewhere? How does Lets Encrypt know about the public key in this new situation?

[2017-11-29 11:12] vanoostrum commented on #64
It will take some more time to refactor, hopefully it will be ready somewhere next week.

[2017-11-29 11:25] kelunik commented on #64
@vanoostrum Changes aren't documented yet, but most things should actually be internal changes apart from the change to the Amp v2 interfaces.

The public key can always be derived from the private key, it's done [here](https://github.com/kelunik/acme/blob/496c9189f37ab512664cb12dc7b994c1ca6965cb/lib/Crypto/Backend/OpensslBackend.php#L24-L42). The public key was actually totally unused.

If you ha

[2017-11-29 13:02] vanoostrum commented on #64
Ok that's clear, will do, thx!

[2017-12-15 08:47] vanoostrum commented on #64
@kelunik we tested the new version. Everything seems to be working well, also with Amp v2. Thanks for the help! We will keep an eye out to see when the changes will be merged to master, until then we will keep using the amp2 branch

[2017-12-15 10:23] kelunik commented on #64
@vanoostrum Thanks for testing. I don't have the time to provide a proper changelog, but I have just released v0.5.0 for you. https://github.com/kelunik/acme/releases/tag/v0.5.0

[2017-12-16 18:59] #65 closed

[2017-12-25 14:47] mmenozzi opened #69 "Support for extended macOS configurations"
As stated at https://github.com/amphp/artax/issues/150, it seems that macOS resolver looks at `/etc/resolver` directory to get the nameserver to use for a certain TLD. For example if you put the file `/etc/resolver/dev`  with content `127.0.0.1`, the local nameserver will be used for all the `*.dev` domains.

This behavior should be supported by this library.

[2018-01-10 16:26] #53 closed

[2018-01-10 16:44] kelunik commented on #53
You sometimes get empty results now, but no more decode exceptions.

[2018-01-11 13:59] DaveRandom commented on #53
LibDNS is being majorly refactored, one of the things that it will do is cease to validate things like this - i.e. context-dependent things (a domain name consisting of only the empty top-level label is, I suppose, theoretically valid).

In a case like this, however, I think it still makes sense for an exception to be throw by amp/dns (i.e. the client implementation). An empty domain name in respo

[2018-01-11 19:07] kelunik opened #70 "Improve Windows configuration loader"
From https://github.com/kelunik/acme-client/issues/64#issuecomment-352306921:

[2018-01-13 14:47] kelunik commented on #69
Just a note for future readers: This requires a configuration format change and is therefore a BC break. It might be considered to implement this in the same release as #70, but that one might not need a BC break depending on the solution.

[2018-02-26 14:58] kelunik commented on #70
We should investigate using WMIC, see https://github.com/reactphp/dns/pull/94/files.

[2018-03-25 11:45] Bilge opened #74 "Random nameserver failures at start of program on Windows"
This problem typically only manifests itself when the program is first run, and occurs intermittently (not guaranteed to be reproducible). In my test output (sorry about formatting), I initiate two requests that fail immediately with DNS errors and never complete. Then, a third request is sent that completes successfully. All three requests are made to the same address (`http://example.com`). A fu

[2018-03-25 12:27] kelunik commented on #74
Could you please modify [`vendor/amphp/windows-registry/lib/WindowsRegistry.php:19`](https://github.com/amphp/windows-registry/blob/ed1037625dd8e396b5f2e6fd5d6d9143e18e8103/lib/WindowsRegistry.php#L19) and add a `var_dump($key, $lines);` there? What does that output?

[2018-03-25 12:29] Bilge commented on #74
Before or after the `yield`?

[2018-03-25 12:29] bwoebi commented on #74
Obviously after the yield: before, $lines isn't defined yet.

[2018-03-25 12:33] Bilge commented on #74
string(69) "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters"
vendor\amphp\windows-registry\lib\WindowsRegistry.php:20:
array(29) {
  [0] =>
  string(0) ""
  [1] =>
  string(69) "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters"
  [2] =>
  string(37) "    ICSDomain    REG_SZ    mshome.net"
  [3] =>
  string(48) "    SyncDomainWithMembership    REG_DWORD

[2018-03-25 12:39] Bilge commented on #74
Worth noting that it picks up the DNS server from my router (212.158.248.5 and 83.146.21.5) but I've overridden them in the IPv4 settings of the network adapter, which I guess it does not pick up. No idea how reliable those ISP servers are normally.

![image](https://user-images.githubusercontent.com/470626/37875054-d9a296f6-3031-11e8-9a92-0f62559e2636.png)

[2018-03-25 13:49] kelunik commented on #74
Strange that `MaxUserPort REG_DWORD DhcpNameServer REG_SZ 212.158.248.5 83.146.21.5` ends up in a single line.

The notice probably comes from the `NameServer` key, that exists but is empty.

[2018-03-25 14:10] kelunik commented on #74
We could read `...\Tcpip\Linkage\Route` for the order of network interfaces. Currently we just traverse the registry in the order the keys are printed out.

[2018-03-27 17:59] Bilge commented on #74
Any movement on this? At first I thought it might be rare, but I find it's occurring more than 50% of all program runs, which is starting to become quite a hassle.

[2018-03-27 18:08] Bilge commented on #74
Zombie process wrappers are starting to become endemic...

![image](https://user-images.githubusercontent.com/470626/37986007-46505baa-31f2-11e8-9f69-f95fc11e6453.png)

[2018-03-27 18:25] Bilge commented on #74
Never mind, I updated my dependencies and it doesn't happen any more, so the bug wasn't even in the DNS library, I guess.

[2018-03-27 18:25] #74 closed

[2018-04-23 13:34] plankes-projects opened #76 "Amazon MySql db connection issue"
I am connecting to an amazon DB from windows php 7.2.4 with following code:
https://gist.github.com/plankes-projects/d941f49bf74353f0b29700261192c639

I get DNS timeout exception when I am running it on my windows developer machine.
https://gist.github.com/plankes-projects/c3cfd2a6aead806adc7a9efaf545ba48

Everthing works fine if I am using this config with eloquent or if I am connecting to a loca

[2018-04-23 13:48] kelunik commented on #76
Could you please check which DNS server the requests are sent to and whether that's the right one?

[2018-05-04 16:35] plankes-projects commented on #76
They were send to the local router, same as the other one.
But this issue is not relevant anymore If no one else has it.

I decided to go for real threading in a docker container instead of Amphp.

Good luck to you guys!

[2018-05-04 16:35] #76 closed

[2018-05-04 16:57] kelunik commented on #76
It would still be good to know the root cause, but if you no longer care, you probably don't want to invest some time to help us?

[2018-05-04 17:26] kelunik commented on #76
Could you share the script you used for testing?

[2018-05-04 17:39] plankes-projects commented on #76
Yes, I can do that. I extracted the relevant parts, but you will have to adapt it a little bit to make it run.

https://gist.github.com/plankes-projects/e71a05d86defa03c9ac0eca0842e5fa7

I think most interesting will be funciton performAsync.

[2018-05-04 17:42] plankes-projects commented on #76
One more thing, I did not recognize any patterns. Sometimes stuff fails sometimes not. And the occurrence of issues 'feels' different on ubuntu OS.

[2018-12-26 14:27] ostrolucky opened #78 "Remove amphp/file dependency"
I'm only using amphp/socket and there is following dependency tree that is useless to me:
amphp/socker -> amphp/file -> amphp/sync, amphp/parallel

So after removing this dependency, my consumers will have to install 3 packages less.

Additionally, **replacing it with bytestream  increases performance almost 10x!**

[code]

Without this change:

[code]

With this change:

[code]

[2018-12-27 19:59] PeeHaa opened #79 "Bump the minimum version of amphp/uri"
Currently the [minimum supported version of `amphp/uri` in composer](https://github.com/amphp/dns/blob/master/composer.json#L43) uses a broken version: `^1.0`.

Can this be bumped to at least version `^0.1.1`, but probably better to just use latest.

Bonus internet points if the above change is topped off with a fresh release containing the change <3

[2018-12-27 22:20] kelunik commented on #79
PR is welcome 😉

[2018-12-27 23:13] trowski commented on #79
Seems we really only use the `uri` package for the `normalizeDnsName` function. Should we drop this function into `socket` or some other package and deprecate the `uri` package? We also may be able to use `league/uri`.

[2018-12-27 23:31] PeeHaa commented on #79
If that's the case that would be much nicer indeed
Looking at the function itself it could even be just included directly in dns
Or is the normalization done in other packages as well?

[2019-01-04 17:20] #78 closed

[2019-03-12 14:54] trowski commented on #79
Closing since we dumped the `amphp/uri` dependency.

[2019-03-12 14:54] #79 closed

[2019-05-09 18:08] MassiAtHG opened #82 "DNS resolution not working on Kubernetes"

[2019-05-09 18:16] MassiAtHG commented on #82
Basic resolving code works with containers set up using 'docker compose', but it does not when the containers run in a 'k8s' setup.
Example code:
[code]
The error generated is the following:
[code]
Attached an archive used to verify the bug using 'minikube' (locally) and 'kops' (AWS).

[2019-05-10 08:34] MassiAtHG commented on #82
An additional piece of info, the content of the 'resolve.conf' file on the AWS setup:
[code]

[2019-05-10 08:44] kelunik commented on #82
I guess the DNS is resolved via the `search` configuration? In that case, try `eventstore.default.svc.cluster.local` etc. and see whether that works.

[2019-05-10 09:44] MassiAtHG commented on #82
Your suggestion seems to works correctly. Thank you very much.

[2019-05-10 11:34] kelunik commented on #82
If you want direct support, please add a :+1: to #47.

[2019-05-10 11:34] #82 closed

[2019-07-25 07:36] brzuchal commented on #47
`search` support should also respect `ndots` option which acording to [resolv.c](http://www.jbox.dk/sanos/source/sys/os/resolv.c.html#:934) should check if there is enough dots in queried domain before combining it with `search` domains.

[2019-07-30 16:09] #47 closed

[2019-07-30 16:09] #46 closed

[2019-08-18 10:06] psafarov opened #90 "Subtype 'Too many redirects' DnsException"
https://github.com/amphp/dns/blob/493d014b58c14e29303a145b0be4cf272aa6644f/lib/Rfc1035StubResolver.php#L219

It would be very nice to differentiate this type of error. In my situation this difference is important as other DnsException throws are usually temporary, so the script can be rerun successfully whereas 'Too many redirections' error tend to be permanent (e.g. if there is a cyclic aliasing)

[2019-08-20 18:29] Knocks83 opened #91 "CreateProcess failed, error 193"
Hi!
OS: Windows 10 Pro 18362
PHP Version: 7.3.8 Thread Safe

I'm sorry but I cannot give you a lot of infos since the program I'm using wasn't made by me, the person who made it is @danog and the program is [MadelineProto](https://github.com/danog/MadelineProto)

Full output:
[code]

[2019-08-20 20:47] trowski commented on #91
Ping @DaveRandom: Any idea why `CreateProcess` would be failing here?

[2019-11-26 18:23] psafarov opened #92 "Libdns bug"
There is a bug in libdns library which causes `NoRecordsException` on `2(SERVFAIL)` dns response
DaveRandom/LibDNS#22

[2019-11-27 19:14] Guuzen opened #93 "Are dotless domains valid?"
Didn't find any test that states dotless domains are invalid.
Are they valid?
If yes - then there is a bug, because resolve method [throws exception](https://github.com/amphp/dns/blob/v1.2.0/lib/Rfc1035StubResolver.php#L158) for dotless domains.
If no - maybe test (and probably explicit exception message) that states dotless domains are invalid should be introduced for clarity and stability?

My u

[2019-11-27 23:48] kelunik commented on #93
They're valid, yes. If the current config doesn't work with a simple Docker setup, we should remove that restriction again.

[2019-11-28 11:07] Guuzen commented on #93
This exception occurs on my machine because resolv.conf file has no search line in it.
According to [docker documentation](https://docs.docker.com/v17.09/engine/userguide/networking/default_network/configure-dns/) docker mounts resolv.conf from host machine.
So if host machine has no search line in resolv.conf then an exception will happen otherwise not.
I do not know how often situation with no s

[2019-11-28 12:11] kelunik commented on #93
Yup. Mind opening a PR? :-)

[2019-11-28 20:10] #93 closed

[2019-11-28 20:10] kelunik commented on #92
This might explain some reports I received...

[2019-12-03 08:25] psafarov commented on #92
@kelunik The library seems to be abandoned actually. Could amp group fork it? Just a proposition, maybe there is a better solution

[2019-12-03 09:16] bwoebi commented on #92
@psafarov Apparently I have commit rights there, I just merged your PR - thanks :-)

[2019-12-03 09:16] #92 closed

[2019-12-03 18:02] kelunik commented on #92
@bwoebi Could you also tag a new version there, please?

[2019-12-04 06:44] bwoebi commented on #92
@kelunik I did right after merging the PR: https://github.com/DaveRandom/LibDNS/releases/tag/v2.0.2

[2019-12-31 11:18] Bilge opened #95 "DNS frequently fails on Windows"
A little over 50% of the time, a async CLI application fails to start on Windows because the DNS doesn't work. Once it works, the problem does not seem to occur again, but there's a high probability it will fail unrecoverably at each process start. The operation is retried 5 times and the same error continues to occur until a new PHP process is started, when the dice is re-rolled to see if DNS is

[2020-02-08 14:12] ShiSHcat opened #96 "Incomplete packet error"
Next Amp\Dns\DnsException: All query attempts failed for mozilla.cloudflare-dns.com: Unexpected error during resolution: Decode error: Incomplete packet (tried to read 12 bytes from index 0, Unexpected error during resolution: Decode error: Incomplete packet (tried to read 12 bytes from index 0 in /home/shishcat1/redacted/vendor/amphp/dns/lib/Rfc1035StubResolver.php:193
Stack trace:
#0 [internal f

[2020-03-08 12:01] itajackass commented on #91
Any fix?i'm in the same error

[2020-03-08 14:18] kelunik commented on #91
Do you use the 32 bit or 64 bit version?

[2020-03-08 14:22] itajackass commented on #91
I have win64bit. And tried wamp 32 and 64bit version also

[2020-03-08 14:57] trowski commented on #91
@itajackass Can you please try replacing `vendor/amphp/windows-registry/lib/WindowsRegistry.php` with [this file](https://gist.github.com/trowski/21ecc4e856225f752e8c30ce2a00661f). That version does a blocking read of the registry if creating the async process fails. I'm just curious to see if that works at all.

[2020-03-08 15:05] itajackass commented on #91
I can try in a fresh project... But i can't try when i try to use madelineproto cause these file i think are part of a .phar file

[2020-04-21 05:00] suadhuskic opened #98 "etc/resolve ndots set to 1"
Wondering why its set to 1 ? I'd like to set it to 3 without writing a new resolver.
https://github.com/amphp/dns/blob/master/lib/UnixConfigLoader.php#L21

Is there a way to extend UnixConfigLoader and continue to use Rfc1035StubResolver ?

[2020-04-21 05:11] kelunik commented on #98
You can either edit your /etc/resolv.conf, or set RES_OPTIONS in the environment, which can also be done at the start of the script.

[code]

[2020-04-21 16:35] #98 closed

[2020-04-24 21:21] Bilge commented on #95
@kelunik This is still an issue.

[code]

[2020-04-30 11:36] roquie commented on #41
Without this feature services in kubernetes can't work with inside local network by dns.
It fails with following reason:
[code]

Sad but true.

[2020-04-30 12:28] roquie opened #99 "Supports of Kubernetes cluster"
Any requests called with `amphp/http-client` will use these dns package. Where requests will sent inside kubernetes cluster it fails with following reason:
[code]

Requests from pod to pod inside a same namespace in Kubernetes cluster by service name (kubectl get svc). If using local ip address instead of dns it works. But this workaround is not possible for all cases.

I think this is critical is

[2020-04-30 12:29] roquie commented on #99
https://github.com/amphp/dns/issues/41

[2020-04-30 18:31] kelunik commented on #99
I haven't used Kubernetes, yet. How does DNS resolution work there? What's different?

[2020-05-08 13:24] roquie commented on #99
Sorry for long answer. On next week I well be again works with `amphp/dns` and try to run series of tests in cluster. Before this bug I should fix the issue with `amphp/postgres` because it blocks my work.

[2020-05-16 19:54] kelunik commented on #95
@Bilge Seems like you're still using the old version. Could you try with >= 1.0?

[2020-05-16 19:57] kelunik commented on #96
@ShiSHcat Can you reproduce this issue? Which DNS server are you using?

[2020-05-16 19:58] Bilge commented on #95
For some reason, Composer isn't picking that version up (without specifying it directly).

[2020-05-16 19:58] kelunik commented on #90
Do you want to provide a PR?

[2020-06-19 17:03] roquie commented on #99
* `1.2.1` does not work in cluster with global available addresses (tested `github.com` and `api.telegram.org`), but `0.9.15` works fine.
* `0.9.15` also does not work with local domain names in kubernetes cluster

In all cases `gethostbyname` returns ip.

[2020-06-19 19:11] kelunik commented on #99
What's the error message you get for `github.com`?

[2020-06-19 19:38] roquie commented on #99
<img width="1295" alt="Screenshot 2020-06-19 at 22 37 13" src="https://user-images.githubusercontent.com/3214290/85174190-89c0ee00-b27d-11ea-9ea8-59a74ecacfbd.png">

[2020-06-19 20:29] kelunik commented on #99
Please retry with https://github.com/amphp/dns/commit/8cf2ccc4fa5a97f15b0b11087b22d2b544e45ab2 / latest `dev-master`.

[2020-06-20 09:25] roquie commented on #99
Yes, that works in all cases. Thanks! :)

[2020-06-20 09:25] #99 closed

[2020-06-20 10:09] kelunik commented on #99
Thanks for testing! Tagged as [v1.2.2](https://github.com/amphp/dns/releases/tag/v1.2.2).

[2020-06-24 10:12] roquie opened #100 "Too many time to resolve localhost domain"
Hi,

Versions:
* `amphp/dns` v1.2.2
* `amphp/http-client` v4.4.0
* PHP 7.4.5 (cli) (built: Apr 23 2020 02:25:56) ( NTS )

Steps to reproduce:
1. Run php web server `php -S localhost:3001 -t /` (or something else). Files are optional.
2. Create file like `index.php` with following contents:
[code]
3. Run curl `time curl http://localhost:3001/`
4. Run `time php index.php`

[code]

DNS can't be resol

[2020-06-24 18:38] kelunik commented on #100
`localhost` should never be sent to any nameserver for resolution.

[2020-06-25 04:54] roquie commented on #100
That right. But I don't know why it resolving 10 seconds. Did you reproduce this?

[2020-06-25 19:01] kelunik commented on #100
No, I can't reproduce it: 0,09s user  0,03s system  91% cpu  -  0,124 total

[2020-07-10 11:23] ShiSHcat commented on #96
I'm not having this problem anymore.

[2020-07-10 11:23] #96 closed

[2020-07-10 16:24] kelunik commented on #96
Thanks for reporting back!

[2020-07-28 16:21] kelunik commented on #100
@roquie Could you check which IP Curl is using with `curl -v http://localhost:3001/`? Might be some IPv4 vs. IPv6 issue. And also check which IP the PHP web server is actually listening on?

[2020-07-28 16:31] roquie commented on #100
Oh, I forgot about this issue 😨

Curl output:
[code]

I updated composer packages to latest versions. I can still reproduce this.

[2020-07-28 16:37] kelunik commented on #100
If you try it with Amp, do `[::1]` and `127.0.0.1` work equally?

[2021-02-02 10:45] raghuveer opened #101 "getting could not load the system's DNS configuration, using synchronous, blocking fallback error"
I am getting the following error when error reporting is turned on, irrespective of whether the db query is insert/update/select/delete, even though the expected operation is happening,

Warning: Could not load the system's DNS configuration, using synchronous, blocking fallback in /home/chat2/webapps/app-chat2/public_html/easeampmysqlredis/vendor/amphp/dns/lib/Rfc1035StubResolver.php on line 252

[2021-02-02 12:33] kelunik commented on #101
@raghuveer I've transferred your issue to the correct repository. The systems configuration is usually automatically detected and used. The warning appears if loading the configuration fails, but TBH doesn't currently indicate the reason for that. The fallback is using the native resolver, but it can't resolve DNS names non-blocking in that state, so it issues a warning.

Could you have a look at

[2021-02-02 19:39] kelunik commented on #101
Please try with `dev-master`, I've pushed https://github.com/amphp/dns/commit/659bad6bba93aa20548f8fc797d108114ff722e4.

[2021-02-03 05:44] raghuveer commented on #101
Thanks @kelunik, tried running amphp/dns package from dev-master as you suggested,

my server setup:
Ubuntu 18.04
PHP v7.4.14 with PHP-FPM and Nginx before Apache web server

ran sample code from https://github.com/amphp/dns,
`require 'vendor/autoload.php';

ini_set('display_errors', 1);
ini_set('display_startup_errors', 1);
error_reporting(E_ALL);

use Amp\Dns;
use Amp\Loop;

Loop::run(function (

[2021-02-05 08:38] raghuveer commented on #101
@kelunik is there any alternative solution for amphp/dns to access /etc/resolv.conf without disabling open_basedir restrictions?

What are other options?

your support will be really helpful,

thank you

[2021-02-05 09:19] raghuveer commented on #101
@kelunik

is there any alternative solution for amphp/dns to access /etc/resolv.conf without disabling open_basedir restrictions?

I did try the example at https://github.com/amphp/dns/blob/master/examples/custom-config.php, by providing a numeric array of hostnames,

`$argv = ["microsoft.com","google.com","yahoo.com"];`

With google offered recursive dns servers being used in the custom config, I

[2021-02-05 10:15] kelunik commented on #101
@raghuveer You've found the correct example. `Dns\resolver(new Dns\Rfc1035StubResolver(null, $customConfigLoader));` sets the given configuration globally, so it's automatically used by all packages like `amphp/socket` and `amphp/mysql`.

[2021-02-05 14:59] raghuveer commented on #101
Thanks a lot @kelunik it worked, I will try including this in my application :)

[2021-02-05 15:11] raghuveer commented on #101
What are the suggested number of attempts? the number in the sample code is 3.

I did try adding more recursive DNS Servers (like 2 IPv4 Addresses of opendns.com), to the existing Google Recursive DNS Server IPv4 Address (8.8.8.8) and some IPv6 Address

`$customConfigLoader = new class implements Dns\ConfigLoader {
    public function loadConfig(): Promise
    {
        return Amp\call(function ()

[2021-02-05 22:37] kelunik commented on #101
That depends on your needs on speed and reliability. I think 2 or 3 are the default. The total timeout will be attempt * timeout I think.

[2021-02-06 11:04] raghuveer commented on #101
I am using the defaults as per your example, thank you @kelunik

[2021-02-06 11:04] #101 closed

[2021-03-05 00:34] NoDiskInDriveA opened #102 "Incomplete packet error (still exists)"
[code]

In hope this is helpful:
In my setup, I have two DNS server entries of which the first one seems to be misconfigured and never returns any data. `LibDNS\Decoder\Decoder` raises an `UnexpectedValueException` in this case, which is converted into a `DnsException` in `Amp\Dns\Internal\Socket::error()`. The `Rfc1035StubResolver` does not catch and handle this by selecting the next nameserver,

[2021-06-02 06:29] mztlive opened #103 "Could Not Resolve Host"
After I introduce amp/dns through composer, curl will trigger the exception "could resolve not host(6)" (occasionally)

But it’s strange that I just introduced it, but didn’t use it in the code.

After removing amp/dns from the composer dependency, it returned to normal

[2021-06-02 06:33] kelunik commented on #103
If you didn't use the code, it was probably some other temporary error?

[2021-06-02 06:46] mztlive commented on #103
I don’t know. To be precise, I introduced amp/php into composer and then occasionally could not resolve host using guzzlehttp.

When I removed amp/php, it returned to normal

[2021-06-02 06:47] mztlive commented on #103
I don’t know. To be precise, I introduced amp/php into composer and then occasionally could not resolve host using guzzlehttp.

When I removed amp/php, it returned to normal

[2021-06-02 06:48] mztlive commented on #103
I don’t know. To be precise, I introduced amp/http-client into composer and then occasionally could not resolve host using guzzlehttp.

When I removed amp/php, it returned to normal

[2021-06-04 13:44] kelunik commented on #103
I'm closing this in favor of https://github.com/amphp/http-client/issues/293.

[2021-06-04 13:44] #103 closed

[2021-12-15 22:31] kelunik opened #104 "Backport queue errors on closure"
https://github.com/amphp/dns/commit/11e8ae6176ac42d44c88292e07d8c37052aa8db4 needs to be backported to 1.x

[2022-11-07 22:24] kelunik opened #107 "Rename Record and Resolver as well?"
Rename them to `DnsRecord` and `DnsResolver`?